<!----start navbar-->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand d-none d-md-block" href="#">صرفها</a>
  <div class="navbar-nav">
    <a class="nav-link btn-hover" routerLink="/myads" href="#"
      >إعلاناتي <i class="fas fa-bullhorn"></i
    ></a>
    <a class="nav-link btn-hover" routerLink="/" href="#"
      >الأقسام <i class="fas fa-globe"></i
    ></a>
    <a class="nav-link btn-hover" routerLink="/messages" href="#"
      >الرسائل
      <i class="message-icon fas fa-comment-alt"
        ><span id="message-alert">1</span></i
      ></a
    >
  </div>
</nav>
<!-----end navbar-->
